<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,35}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{67,73}</string>
                <key>textureRect</key>
                <string>{{382,252},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>al1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,51}</string>
                <key>spriteSourceSize</key>
                <string>{47,51}</string>
                <key>textureRect</key>
                <string>{{1207,141},{47,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>al2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1029,204},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>al3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,50}</string>
                <key>spriteSourceSize</key>
                <string>{55,50}</string>
                <key>textureRect</key>
                <string>{{1545,138},{55,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>al4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{1398,203},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,51}</string>
                <key>spriteSourceSize</key>
                <string>{47,51}</string>
                <key>textureRect</key>
                <string>{{923,204},{47,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1574,194},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ar3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,50}</string>
                <key>spriteSourceSize</key>
                <string>{55,50}</string>
                <key>textureRect</key>
                <string>{{972,204},{55,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ar4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{1450,203},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-44}</string>
                <key>spriteSize</key>
                <string>{135,23}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{137,232},{135,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{139,51}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{806,142},{139,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{139,77}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{1404,124},{139,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,111}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{1257,133},{139,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-49}</string>
                <key>spriteSize</key>
                <string>{146,47}</string>
                <key>spriteSourceSize</key>
                <string>{174,145}</string>
                <key>textureRect</key>
                <string>{{658,142},{146,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{174,75}</string>
                <key>spriteSourceSize</key>
                <string>{174,145}</string>
                <key>textureRect</key>
                <string>{{1,148},{174,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{174,109}</string>
                <key>spriteSourceSize</key>
                <string>{174,145}</string>
                <key>textureRect</key>
                <string>{{496,1},{174,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,145}</string>
                <key>spriteSourceSize</key>
                <string>{174,145}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{1602,138},{54,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,20}</string>
                <key>spriteSourceSize</key>
                <string>{59,20}</string>
                <key>textureRect</key>
                <string>{{492,232},{59,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dier1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{382,216},{54,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dier2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,20}</string>
                <key>spriteSourceSize</key>
                <string>{59,20}</string>
                <key>textureRect</key>
                <string>{{553,232},{59,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-26}</string>
                <key>spriteSize</key>
                <string>{135,43}</string>
                <key>spriteSourceSize</key>
                <string>{135,95}</string>
                <key>textureRect</key>
                <string>{{649,191},{135,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-26}</string>
                <key>spriteSize</key>
                <string>{135,43}</string>
                <key>spriteSourceSize</key>
                <string>{135,95}</string>
                <key>textureRect</key>
                <string>{{786,195},{135,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{135,63}</string>
                <key>spriteSourceSize</key>
                <string>{135,95}</string>
                <key>textureRect</key>
                <string>{{968,139},{135,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,95}</string>
                <key>spriteSourceSize</key>
                <string>{135,95}</string>
                <key>textureRect</key>
                <string>{{1547,1},{135,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-23}</string>
                <key>spriteSize</key>
                <string>{134,28}</string>
                <key>spriteSourceSize</key>
                <string>{192,178}</string>
                <key>textureRect</key>
                <string>{{1,225},{134,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-13}</string>
                <key>spriteSize</key>
                <string>{154,48}</string>
                <key>spriteSourceSize</key>
                <string>{192,178}</string>
                <key>textureRect</key>
                <string>{{493,182},{154,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{160,68}</string>
                <key>spriteSourceSize</key>
                <string>{192,178}</string>
                <key>textureRect</key>
                <string>{{496,112},{160,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,11}</string>
                <key>spriteSize</key>
                <string>{160,134}</string>
                <key>spriteSourceSize</key>
                <string>{192,178}</string>
                <key>textureRect</key>
                <string>{{334,1},{160,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runl1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,52}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{274,222},{33,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>runl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,52}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{328,222},{33,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>runl3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,52}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{438,216},{33,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>runl4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,52}</string>
                <key>spriteSourceSize</key>
                <string>{34,52}</string>
                <key>textureRect</key>
                <string>{{1502,203},{34,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runr1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,52}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1081,217},{33,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>runr2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,52}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1135,217},{33,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>runr3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,52}</string>
                <key>spriteSourceSize</key>
                <string>{33,52}</string>
                <key>textureRect</key>
                <string>{{1207,194},{33,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runr4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,52}</string>
                <key>spriteSourceSize</key>
                <string>{34,52}</string>
                <key>textureRect</key>
                <string>{{1538,203},{34,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,141}</string>
                <key>spriteSourceSize</key>
                <string>{121,141}</string>
                <key>textureRect</key>
                <string>{{1404,1},{121,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,140}</string>
                <key>spriteSourceSize</key>
                <string>{138,140}</string>
                <key>textureRect</key>
                <string>{{1115,1},{138,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,145}</string>
                <key>spriteSourceSize</key>
                <string>{130,145}</string>
                <key>textureRect</key>
                <string>{{1257,1},{130,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,145}</string>
                <key>spriteSourceSize</key>
                <string>{136,145}</string>
                <key>textureRect</key>
                <string>{{968,1},{136,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,147}</string>
                <key>spriteSourceSize</key>
                <string>{139,147}</string>
                <key>textureRect</key>
                <string>{{672,1},{139,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,155}</string>
                <key>spriteSourceSize</key>
                <string>{140,155}</string>
                <key>textureRect</key>
                <string>{{177,1},{140,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,145}</string>
                <key>spriteSourceSize</key>
                <string>{139,145}</string>
                <key>textureRect</key>
                <string>{{821,1},{139,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,161}</string>
                <key>spriteSourceSize</key>
                <string>{77,161}</string>
                <key>textureRect</key>
                <string>{{177,143},{77,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,151}</string>
                <key>spriteSourceSize</key>
                <string>{77,151}</string>
                <key>textureRect</key>
                <string>{{340,137},{77,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,100}</string>
                <key>spriteSourceSize</key>
                <string>{74,100}</string>
                <key>textureRect</key>
                <string>{{1105,141},{74,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animate.png</string>
            <key>size</key>
            <string>{1643,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbce1e483f9ce625f7ba3af6154f4794:da2bb56573eb111faf79b8a6a82213b3:71360160189ada85a06ccd7c1eeb6fda$</string>
            <key>textureFileName</key>
            <string>animate.png</string>
        </dict>
    </dict>
</plist>
