<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-221}</string>
                <key>spriteSize</key>
                <string>{666,110}</string>
                <key>spriteSourceSize</key>
                <string>{694,552}</string>
                <key>textureRect</key>
                <string>{{691,1801},{666,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-154}</string>
                <key>spriteSize</key>
                <string>{688,244}</string>
                <key>spriteSourceSize</key>
                <string>{694,552}</string>
                <key>textureRect</key>
                <string>{{875,1345},{688,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-91}</string>
                <key>spriteSize</key>
                <string>{688,370}</string>
                <key>spriteSourceSize</key>
                <string>{694,552}</string>
                <key>textureRect</key>
                <string>{{1,1627},{688,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{688,552}</string>
                <key>spriteSourceSize</key>
                <string>{694,552}</string>
                <key>textureRect</key>
                <string>{{875,1},{688,552}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,-246}</string>
                <key>spriteSize</key>
                <string>{728,230}</string>
                <key>spriteSourceSize</key>
                <string>{872,726}</string>
                <key>textureRect</key>
                <string>{{1565,1},{728,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-180}</string>
                <key>spriteSize</key>
                <string>{872,362}</string>
                <key>spriteSourceSize</key>
                <string>{872,726}</string>
                <key>textureRect</key>
                <string>{{1,1263},{872,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-94}</string>
                <key>spriteSize</key>
                <string>{872,534}</string>
                <key>spriteSourceSize</key>
                <string>{872,726}</string>
                <key>textureRect</key>
                <string>{{1,727},{872,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{872,724}</string>
                <key>spriteSourceSize</key>
                <string>{872,726}</string>
                <key>textureRect</key>
                <string>{{1,1},{872,724}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-137}</string>
                <key>spriteSize</key>
                <string>{676,202}</string>
                <key>spriteSourceSize</key>
                <string>{676,476}</string>
                <key>textureRect</key>
                <string>{{1797,1},{676,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-134}</string>
                <key>spriteSize</key>
                <string>{676,208}</string>
                <key>spriteSourceSize</key>
                <string>{676,476}</string>
                <key>textureRect</key>
                <string>{{875,1591},{676,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-83}</string>
                <key>spriteSize</key>
                <string>{676,310}</string>
                <key>spriteSourceSize</key>
                <string>{676,476}</string>
                <key>textureRect</key>
                <string>{{875,1033},{676,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{676,476}</string>
                <key>spriteSourceSize</key>
                <string>{676,476}</string>
                <key>textureRect</key>
                <string>{{875,555},{676,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-76}</string>
                <key>spriteSize</key>
                <string>{434,86}</string>
                <key>spriteSourceSize</key>
                <string>{640,592}</string>
                <key>textureRect</key>
                <string>{{1553,1253},{434,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-45}</string>
                <key>spriteSize</key>
                <string>{514,148}</string>
                <key>spriteSourceSize</key>
                <string>{640,592}</string>
                <key>textureRect</key>
                <string>{{1781,1341},{514,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-12}</string>
                <key>spriteSize</key>
                <string>{520,214}</string>
                <key>spriteSourceSize</key>
                <string>{640,592}</string>
                <key>textureRect</key>
                <string>{{1565,1341},{520,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,37}</string>
                <key>spriteSize</key>
                <string>{520,438}</string>
                <key>spriteSourceSize</key>
                <string>{640,592}</string>
                <key>textureRect</key>
                <string>{{1553,731},{520,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,141}</string>
                <key>spriteSourceSize</key>
                <string>{121,141}</string>
                <key>textureRect</key>
                <string>{{1154,1913},{121,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,140}</string>
                <key>spriteSourceSize</key>
                <string>{138,140}</string>
                <key>textureRect</key>
                <string>{{1655,1863},{138,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,74}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{77,151}</string>
                <key>textureRect</key>
                <string>{{1553,555},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,145}</string>
                <key>spriteSourceSize</key>
                <string>{130,145}</string>
                <key>textureRect</key>
                <string>{{1007,1913},{130,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,145}</string>
                <key>spriteSourceSize</key>
                <string>{136,145}</string>
                <key>textureRect</key>
                <string>{{1508,1863},{136,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,147}</string>
                <key>spriteSourceSize</key>
                <string>{139,147}</string>
                <key>textureRect</key>
                <string>{{1359,1801},{139,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,155}</string>
                <key>spriteSourceSize</key>
                <string>{140,155}</string>
                <key>textureRect</key>
                <string>{{691,1627},{140,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,145}</string>
                <key>spriteSourceSize</key>
                <string>{139,145}</string>
                <key>textureRect</key>
                <string>{{1795,1857},{139,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,161}</string>
                <key>spriteSourceSize</key>
                <string>{77,161}</string>
                <key>textureRect</key>
                <string>{{691,1913},{77,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,151}</string>
                <key>spriteSourceSize</key>
                <string>{77,151}</string>
                <key>textureRect</key>
                <string>{{854,1913},{77,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,100}</string>
                <key>spriteSourceSize</key>
                <string>{74,100}</string>
                <key>textureRect</key>
                <string>{{1297,1942},{74,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animate.png</string>
            <key>size</key>
            <string>{2000,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fa3280c50b85fbb719f2abad8364c97:760a6783e8b465f6dc74a71dc1e29455:71360160189ada85a06ccd7c1eeb6fda$</string>
            <key>textureFileName</key>
            <string>animate.png</string>
        </dict>
    </dict>
</plist>
