<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-44}</string>
                <key>spriteSize</key>
                <string>{135,23}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{893,279},{135,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{139,51}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{806,142},{139,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{139,77}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{790,1},{139,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,111}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{693,148},{139,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-49}</string>
                <key>spriteSize</key>
                <string>{146,47}</string>
                <key>spriteSourceSize</key>
                <string>{174,145}</string>
                <key>textureRect</key>
                <string>{{516,316},{146,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{174,75}</string>
                <key>spriteSourceSize</key>
                <string>{174,145}</string>
                <key>textureRect</key>
                <string>{{304,1},{174,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{174,109}</string>
                <key>spriteSourceSize</key>
                <string>{174,145}</string>
                <key>textureRect</key>
                <string>{{233,177},{174,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,145}</string>
                <key>spriteSourceSize</key>
                <string>{174,145}</string>
                <key>textureRect</key>
                <string>{{157,1},{174,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{958,136},{54,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,20}</string>
                <key>spriteSourceSize</key>
                <string>{59,20}</string>
                <key>textureRect</key>
                <string>{{918,325},{59,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dier1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{958,192},{54,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dier2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,20}</string>
                <key>spriteSourceSize</key>
                <string>{59,20}</string>
                <key>textureRect</key>
                <string>{{1050,353},{59,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-26}</string>
                <key>spriteSize</key>
                <string>{135,43}</string>
                <key>spriteSourceSize</key>
                <string>{135,95}</string>
                <key>textureRect</key>
                <string>{{859,142},{135,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-26}</string>
                <key>spriteSize</key>
                <string>{135,43}</string>
                <key>spriteSourceSize</key>
                <string>{135,95}</string>
                <key>textureRect</key>
                <string>{{869,1},{135,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{135,63}</string>
                <key>spriteSourceSize</key>
                <string>{135,95}</string>
                <key>textureRect</key>
                <string>{{828,283},{135,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,95}</string>
                <key>spriteSourceSize</key>
                <string>{135,95}</string>
                <key>textureRect</key>
                <string>{{148,374},{135,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-23}</string>
                <key>spriteSize</key>
                <string>{134,28}</string>
                <key>spriteSourceSize</key>
                <string>{192,178}</string>
                <key>textureRect</key>
                <string>{{466,481},{134,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-13}</string>
                <key>spriteSize</key>
                <string>{154,48}</string>
                <key>spriteSourceSize</key>
                <string>{192,178}</string>
                <key>textureRect</key>
                <string>{{466,325},{154,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{160,68}</string>
                <key>spriteSourceSize</key>
                <string>{192,178}</string>
                <key>textureRect</key>
                <string>{{403,163},{160,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,11}</string>
                <key>spriteSize</key>
                <string>{160,134}</string>
                <key>spriteSourceSize</key>
                <string>{192,178}</string>
                <key>textureRect</key>
                <string>{{381,1},{160,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,141}</string>
                <key>spriteSourceSize</key>
                <string>{121,141}</string>
                <key>textureRect</key>
                <string>{{565,297},{121,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,140}</string>
                <key>spriteSourceSize</key>
                <string>{138,140}</string>
                <key>textureRect</key>
                <string>{{688,297},{138,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,145}</string>
                <key>spriteSourceSize</key>
                <string>{130,145}</string>
                <key>textureRect</key>
                <string>{{658,1},{130,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,145}</string>
                <key>spriteSourceSize</key>
                <string>{136,145}</string>
                <key>textureRect</key>
                <string>{{1,374},{136,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,147}</string>
                <key>spriteSourceSize</key>
                <string>{139,147}</string>
                <key>textureRect</key>
                <string>{{517,1},{139,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,155}</string>
                <key>spriteSourceSize</key>
                <string>{140,155}</string>
                <key>textureRect</key>
                <string>{{245,353},{140,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,145}</string>
                <key>spriteSourceSize</key>
                <string>{139,145}</string>
                <key>textureRect</key>
                <string>{{552,150},{139,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,161}</string>
                <key>spriteSourceSize</key>
                <string>{77,161}</string>
                <key>textureRect</key>
                <string>{{387,342},{77,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,151}</string>
                <key>spriteSourceSize</key>
                <string>{77,151}</string>
                <key>textureRect</key>
                <string>{{473,163},{77,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,100}</string>
                <key>spriteSourceSize</key>
                <string>{74,100}</string>
                <key>textureRect</key>
                <string>{{994,160},{74,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,65}</string>
                <key>spriteSourceSize</key>
                <string>{83,65}</string>
                <key>textureRect</key>
                <string>{{756,439},{83,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,67}</string>
                <key>spriteSourceSize</key>
                <string>{79,67}</string>
                <key>textureRect</key>
                <string>{{617,440},{79,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{841,420},{86,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,82}</string>
                <key>spriteSourceSize</key>
                <string>{81,82}</string>
                <key>textureRect</key>
                <string>{{997,1},{81,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zb5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,81}</string>
                <key>spriteSourceSize</key>
                <string>{74,81}</string>
                <key>textureRect</key>
                <string>{{997,84},{74,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zb6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,79}</string>
                <key>spriteSourceSize</key>
                <string>{63,79}</string>
                <key>textureRect</key>
                <string>{{918,353},{63,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zb7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,72}</string>
                <key>spriteSourceSize</key>
                <string>{56,72}</string>
                <key>textureRect</key>
                <string>{{698,439},{56,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zb8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,56}</string>
                <key>spriteSourceSize</key>
                <string>{58,56}</string>
                <key>textureRect</key>
                <string>{{1037,418},{58,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zb9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,38}</string>
                <key>spriteSourceSize</key>
                <string>{50,38}</string>
                <key>textureRect</key>
                <string>{{565,440},{50,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zc1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,134}</string>
                <key>spriteSourceSize</key>
                <string>{52,134}</string>
                <key>textureRect</key>
                <string>{{904,138},{52,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zc10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,133}</string>
                <key>spriteSourceSize</key>
                <string>{81,133}</string>
                <key>textureRect</key>
                <string>{{914,1},{81,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zc11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,115}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{994,236},{80,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zc12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,115}</string>
                <key>spriteSourceSize</key>
                <string>{78,115}</string>
                <key>textureRect</key>
                <string>{{920,418},{78,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zc13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,100}</string>
                <key>spriteSourceSize</key>
                <string>{74,100}</string>
                <key>textureRect</key>
                <string>{{994,160},{74,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zc14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,73}</string>
                <key>spriteSourceSize</key>
                <string>{49,73}</string>
                <key>textureRect</key>
                <string>{{918,274},{49,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zc15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,63}</string>
                <key>spriteSourceSize</key>
                <string>{49,63}</string>
                <key>textureRect</key>
                <string>{{999,353},{49,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,163}</string>
                <key>spriteSourceSize</key>
                <string>{57,163}</string>
                <key>textureRect</key>
                <string>{{344,177},{57,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zc3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,177}</string>
                <key>spriteSourceSize</key>
                <string>{75,177}</string>
                <key>textureRect</key>
                <string>{{156,183},{75,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zc4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,180}</string>
                <key>spriteSourceSize</key>
                <string>{75,180}</string>
                <key>textureRect</key>
                <string>{{80,1},{75,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zc5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,181}</string>
                <key>spriteSourceSize</key>
                <string>{75,181}</string>
                <key>textureRect</key>
                <string>{{79,191},{75,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zc6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,188}</string>
                <key>spriteSourceSize</key>
                <string>{77,188}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zc7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,181}</string>
                <key>spriteSourceSize</key>
                <string>{76,181}</string>
                <key>textureRect</key>
                <string>{{1,191},{76,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zc8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,161}</string>
                <key>spriteSourceSize</key>
                <string>{77,161}</string>
                <key>textureRect</key>
                <string>{{387,342},{77,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zc9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,151}</string>
                <key>spriteSourceSize</key>
                <string>{77,151}</string>
                <key>textureRect</key>
                <string>{{473,163},{77,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animate.png</string>
            <key>size</key>
            <string>{1095,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3af38fef19291887264ec5776677013:a083c6dc75ed4236847c1b4b8a84bcc9:71360160189ada85a06ccd7c1eeb6fda$</string>
            <key>textureFileName</key>
            <string>animate.png</string>
        </dict>
    </dict>
</plist>
