<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,89}</string>
                <key>spriteSourceSize</key>
                <string>{96,89}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,89}</string>
                <key>spriteSourceSize</key>
                <string>{96,89}</string>
                <key>textureRect</key>
                <string>{{99,1},{96,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,89}</string>
                <key>spriteSourceSize</key>
                <string>{96,89}</string>
                <key>textureRect</key>
                <string>{{197,1},{96,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,89}</string>
                <key>spriteSourceSize</key>
                <string>{96,89}</string>
                <key>textureRect</key>
                <string>{{295,1},{96,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,89}</string>
                <key>spriteSourceSize</key>
                <string>{96,89}</string>
                <key>textureRect</key>
                <string>{{393,1},{96,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,89}</string>
                <key>spriteSourceSize</key>
                <string>{96,89}</string>
                <key>textureRect</key>
                <string>{{491,1},{96,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buildmine.png</string>
            <key>size</key>
            <string>{588,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b132d2f6135ececbbaa216b533a178b:c6687c13180373b36f37ee4c8dc2d5ba:28aa4da34d228559c6701de0d3692e49$</string>
            <key>textureFileName</key>
            <string>buildmine.png</string>
        </dict>
    </dict>
</plist>
