<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-107}</string>
                <key>spriteSize</key>
                <string>{688,338}</string>
                <key>spriteSourceSize</key>
                <string>{694,552}</string>
                <key>textureRect</key>
                <string>{{875,1281},{688,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-107}</string>
                <key>spriteSize</key>
                <string>{688,338}</string>
                <key>spriteSourceSize</key>
                <string>{694,552}</string>
                <key>textureRect</key>
                <string>{{691,2099},{688,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-78}</string>
                <key>spriteSize</key>
                <string>{688,396}</string>
                <key>spriteSourceSize</key>
                <string>{694,552}</string>
                <key>textureRect</key>
                <string>{{1,2179},{688,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{688,552}</string>
                <key>spriteSourceSize</key>
                <string>{694,552}</string>
                <key>textureRect</key>
                <string>{{875,727},{688,552}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,1}</string>
                <key>spriteSize</key>
                <string>{636,724}</string>
                <key>spriteSourceSize</key>
                <string>{872,726}</string>
                <key>textureRect</key>
                <string>{{1,1453},{636,724}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{872,724}</string>
                <key>spriteSourceSize</key>
                <string>{872,726}</string>
                <key>textureRect</key>
                <string>{{1,1},{872,724}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{872,724}</string>
                <key>spriteSourceSize</key>
                <string>{872,726}</string>
                <key>textureRect</key>
                <string>{{1,727},{872,724}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{872,724}</string>
                <key>spriteSourceSize</key>
                <string>{872,726}</string>
                <key>textureRect</key>
                <string>{{875,1},{872,724}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-137}</string>
                <key>spriteSize</key>
                <string>{676,202}</string>
                <key>spriteSourceSize</key>
                <string>{676,476}</string>
                <key>textureRect</key>
                <string>{{691,2439},{676,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-119}</string>
                <key>spriteSize</key>
                <string>{676,238}</string>
                <key>spriteSourceSize</key>
                <string>{676,476}</string>
                <key>textureRect</key>
                <string>{{1565,1405},{676,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-66}</string>
                <key>spriteSize</key>
                <string>{676,344}</string>
                <key>spriteSourceSize</key>
                <string>{676,476}</string>
                <key>textureRect</key>
                <string>{{1565,727},{676,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{676,476}</string>
                <key>spriteSourceSize</key>
                <string>{676,476}</string>
                <key>textureRect</key>
                <string>{{875,1621},{676,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-42}</string>
                <key>spriteSize</key>
                <string>{494,154}</string>
                <key>spriteSourceSize</key>
                <string>{640,592}</string>
                <key>textureRect</key>
                <string>{{1369,2477},{494,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-42}</string>
                <key>spriteSize</key>
                <string>{520,154}</string>
                <key>spriteSourceSize</key>
                <string>{640,592}</string>
                <key>textureRect</key>
                <string>{{1749,1},{520,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-2}</string>
                <key>spriteSize</key>
                <string>{520,234}</string>
                <key>spriteSourceSize</key>
                <string>{640,592}</string>
                <key>textureRect</key>
                <string>{{639,1453},{520,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,69}</string>
                <key>spriteSize</key>
                <string>{520,376}</string>
                <key>spriteSourceSize</key>
                <string>{640,592}</string>
                <key>textureRect</key>
                <string>{{1381,2099},{520,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>build.png</string>
            <key>size</key>
            <string>{1910,2642}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e44b9afc90a97d8b80cea5c4c3effc7:69e6b8f176f8f4bed52a1f9c618749b7:62fd40e1776b9188209f115f86b211d5$</string>
            <key>textureFileName</key>
            <string>build.png</string>
        </dict>
    </dict>
</plist>
